<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="listeners.Listeners"></listener>
		<listener class-name="utilities.AnnotationTransformer"></listener>
		<listener class-name="listeners.AllureRetryListener"></listener>
	</listeners>
	
	<test name="Test DsAlgo Browser:Chrome">
	  <parameter name="browser" value="chrome"></parameter>
    	
    	<classes>
   
			<class name="pageTests.LoginTest"/>
			<class name="pageTests.ArrayTest"/>
			<class name = "pageTests.LinkedListTest"/>
			<class name = "pageTests.StackTest"/>
			<class name = "pageTests.RegistrationTest"/>
			<class name = "pageTests.QueueTest"/>  
			<class name = "pageTests.GraphTest"/>  
			<class name = "pageTests.TreeTest"/>  
			<class name = "pageTests.HomePageTest"/>  
			<class name = "pageTests.DataStructuresTest"/>  
			<class name = "pageTests.HomePageWithoutSignInTest"/>  

    	</classes>	
	</test>
</suite> <!-- Suite -->
